<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MkvCut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OutilsPOSIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>   
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />  
    </startup>  
    <userSettings>
        <MkvCut.Properties.Settings>
            <setting name="EmplacementVideo" serializeAs="String">
                <value />
            </setting>
            <setting name="EmplacementSortie" serializeAs="String">
                <value />
            </setting>
        </MkvCut.Properties.Settings>
        <OutilsPOSIP.Properties.Settings>
            <setting name="EmplacementProjetPOSIP" serializeAs="String">
                <value />
            </setting>
            <setting name="EmplacementProjetCanopee" serializeAs="String">
                <value />
            </setting>
            <setting name="EmplacementProjetContact" serializeAs="String">
                <value />
            </setting>
            <setting name="EmplacementProjetNuget" serializeAs="String">
                <value />
            </setting>
            <setting name="EmplacementPackagesBuild" serializeAs="String">
                <value>\\nt01e\P2000\NuGet\Build Packages</value>
            </setting>
            <setting name="EmplacementPackagesSortie" serializeAs="String">
                <value>\\nt01e\P2000\NuGet\Liste Packages</value>
            </setting>
            <setting name="EmplacementFilAlimentationNuget" serializeAs="String">
                <value>\\nt01e\P2000\NuGet\Feed</value>
            </setting>
        </OutilsPOSIP.Properties.Settings>
    </userSettings>
</configuration>
